{% extends "template.html" %}

{% block content %}
<div class="container mx-auto mt-6 bg-white dark:bg-neutral-900 p-5 rounded-md">
    <h1 class="text-2xl font-bold mb-4">Gestion du Compte</h1>
    
    <div class="p-2 rounded-lg mb-6">
        <h2 class="text-xl font-semibold mb-4">Solde</h2>
        <div id="balance" class="text-2xl font-bold">
            <div class="loader border-t-2 border-blue-500 rounded-full w-6 h-6 animate-spin"></div>
        </div>
    </div>
    <div class="p-2 rounded-lg">
        <h2 class="text-xl font-semibold mb-4">Ajouter du crédit</h2>
        <a href="/checkout/5" class="bg-blue-500 text-white px-4 py-2 rounded mr-2">Ajouter 5€</a>
        <a href="/checkout/10" class="bg-blue-500 text-white px-4 py-2 rounded mr-2">Ajouter 10€</a>
        <a href="/checkout/20" class="bg-blue-500 text-white px-4 py-2 rounded">Ajouter 20€</a>
    </div>
    <div class="p-2 rounded-lg">
        <p class="text-sm mt-4">Les paiements sont sécurisés par Stripe, vos informations bancaires ne sont pas stockées sur le serveur.</p>
        <p class="text-sm">Aucun remboursement n'est possible, le crédit ajouté ne peut pas être retiré.</p>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    fetch('/api/v1/balance')
        .then(response => response.json())
        .then(data => {
            document.getElementById('balance').innerHTML = data.balance + '€';
        });
</script>
{% endblock %}