<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <link rel="stylesheet" href="/static/css/jw-chat.css">
</head>

<body class="bg-neutral-100 dark:bg-neutral-900 text-gray-900 dark:text-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white dark:bg-neutral-800 p-8 rounded-lg shadow-lg w-full max-w-sm">
        <p class="text-center">{{ message }}</p>
        <div class="mt-6 text-center">
            <a href="/auth" class="text-sm text-primary hover:text-secondary">Retour à la page de connexion</a>
        </div>
    </div>
</body>

</html>