<!DOCTYPE html>
<html>

<head>
    <title>Merci pour votre commande !</title>
    <link rel="stylesheet" href="/static/css/jw-chat.css" />
    <script src="/static/js/return.js" defer></script>
</head>

<body>
    <section id="success" class="hidden">
        <p>
            Merci beaucoup ! Un email de confirmation sera envoyé à <span id="customer-email"></span>.

            Si vous avez des questions, veuillez envoyer un email à <a href="mailto:contact@geomtech.fr">contact@geomtech.fr</a>.
        </p>
    </section>
</body>

</html>